@font-face {
  font-family: "OpenSauceSans-Bold";
  src: url("./resources/fonts/OpenSauceSans-Bold.ttf");
}

@font-face {
  font-family: "OpenSauceSans-Regular";
  src: url("./resources/fonts/OpenSauceSans-Regular.ttf");
}

@font-face {
  font-family: "OpenSauceSans-SemiBold";
  src: url("./resources/fonts/OpenSauceSans-SemiBold.ttf");
}

/* setup fonts for the elements we are going to use */
h1 {
  font-family: "OpenSauceSans-Bold";
  font-size: 40px;
  color: white;
  margin: 0;
}

h2 {
  font-family: "OpenSauceSans-SemiBold";
  font-size: 35px;
  color: white;
  margin: 0;
}

h3 {
  font-family: "OpenSauceSans-SemiBold";
  font-size: 18px;
  color: white;
  margin: 0;
}

h4 {
  font-family: "OpenSauceSans-SemiBold";
  font-size: 16px;
  color: white;
  margin: 0;
}

button {
  font-family: "OpenSauceSans-SemiBold";
  font-size: 16px;

  transition: color 0.1s ease-in-out;
  background-color: transparent;
  outline: none;
  border: none;
}

p {
  font-family: "OpenSauceSans-Regular";
  font-size: 15px;
  color: white;
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

body {
  margin: 0;
  overflow: hidden;
  background: #232323;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}